.currentWeatherContainer {
  height: 180px;
}

.cityName {
  background: #7e57c2;
  text-align: center;
  margin: 8px 24px 8px 24px;
  padding: 4px 0px 4px 0px;
}

.imgAlign {
  text-align: center;
}

.descriptionTable {
  font-size: 20px;
}

.cityTempratureOuterContainer {
  text-align: center;
}

.cityTemprature {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
